<table class="table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Ranking</th>
      <th>Imagem</th>
      <th>Professor</th>
      <th>Disciplina</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.description %></td>
        <td><%= question.type_question %></td>
        <td><%= question.ranking %></td>
        <td><%= question.image %></td>
        <td><%= question.teacher.name %></td>
        <td><%= question.discipline.name %></td>
        <td nowrap>
          <%= link_to "", question_path(question), :class => "glyphicon glyphicon-eye-open", title: "Visualizar"  %>
          <%= link_to "", edit_question_path(question), :class => "glyphicon glyphicon-edit", title: "Editar" %>
          <%= link_to "", question_path(question), title: "Deletar", :method => :delete, :confirm => "Tem certeza que deseja remover essa questão?", :class => "glyphicon glyphicon-trash" %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Nova Questão", new_question_path, class: "btn btn-primary" %>