<div class="row">
	<div class="col-md-9 content" role="main">
		<h2>Questões</h2>
		<%= search_form_for @q do |f| %>
  		<%= f.label :description_cont %>
		  <%= f.text_field :description_cont %>
		  <%= f.label :discipline_name_cont %>
		  <%= f.text_field :discipline_name_cont %>
		  <%= f.label :user_name_cont %>
		  <%= f.text_field :user_name_cont %>
		  <%= f.label :question_type_name_cont %>
		  <%= f.text_field :question_type_name_cont %>
  		<%= f.submit %>
<% end %>
		<table class="table table-style">
			<thead>
				<tr>
					<th>Título</th>
					<th>Disciplina</th>
					<th>Autor</th>
					<th>Tipo</th>
					<th>Dificuldade</th>
				</tr>
			</thead>
			<% @questions.each do |q| %>
				<tbody>
					<tr>
							<td><%= link_to q.description, question_path(q) %></td>
							<td><%= q.discipline.name %></td>
							<td><%= q.user.name if !q.user.blank? %></td>
							<td><%= q.question_type.name if !q.question_type.blank? %></td>
							<td><%= q.average if q.level_questions.count > 0 %></td>
					</tr>
				</tbody>
			<% end %>
		</table>
		<%= link_to "Criar questão", rails_admin.new_path('question'), class: "btn btn-default ico-plus" %>
	</div>
</div>