<% content_for :head do %>
  <%= javascript_include_tag "questions" %>
<% end %>

<h2>Questões</h2>
<%= search_form_for @q, :class => 'form-inline', html: { role: "form"  } do |f| %>

	<div class="row">
		<div class="col-md-12 well">
			<h4>Pesquisa</h4>

  <div class="form-group">
  	<%= f.label :description_cont, "Título" %>
  	<%= f.text_field :description_cont, class: "form-control" %>
  </div>
	
	<div class="form-group">
  	<%= f.label :user_name_eq, "Nome do criador" %>
	  <%= f.collection_select :user_name_eq, User.order(:name), :name, :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
  	<%= f.label :question_type_name_eq, "Tipo da questão" %>
  	<%= f.collection_select :question_type_name_eq, QuestionType.order(:name), :name, :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :disciplines_id_eq, "Disciplina" %>
    <%= f.collection_select :disciplines_id_eq, Discipline.order(:name), :id, :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :average_gteq, "Dificuldade (>=)" %>
    <%= f.text_field :average_gteq, class: "form-control" %>
  </div>
	<br />
	<br />		  		  
	<%= f.submit "Pesquisar", :name => nil, :class => "btn btn-info btn-small" %>
		</div>
	</div>
<% end %>


<div class="row">
	<div class="col-md-9 content" role="main">
		<table class="table table-style">
			<thead>
				<tr>
					<th><%= sort_link @q, :description, "Título" %></th>
					<th><%= sort_link @q, :user_name, "Autor" %></th>
					<th><%= sort_link @q, :question_type_value, "Tipo" %></th>
          <th>Disciplinas</th>
					<th>Dificuldade Média</th>
          <th>Minha avaliação</th>
				</tr>
			</thead>
			<% @questions.each do |q| %>
				<tbody>
					<tr>
							<td><%= link_to q.description, question_path(q) %></td>
							<td><%= q.user.name if !q.user.blank? %></td>
							<td><%= q.question_type.name if !q.question_type.blank? %></td>
              <td>
                <% q.disciplines.each do |discipline| %>
                <span class="label label-info">
                  <%= discipline.name %>
                </span>
                <% end %>
              </td>
							<td><span class="label label-<%= set_question_rate_color(q.average) %>"><%= q.average %></span></td>
              <td>
                <% if user_evaluated_question?(q.id) %>
                  <%= get_user_avaliation_for_question(q.id) %>
                <% else %>
                  <%= simple_form_for @level_question, remote: true do |f| %>
                    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                    <%= f.input :question_id, as: :hidden, input_html: { value: q.id } %>
                    <%= f.select :value, options_for_select([1,2,3,4,5], f.object) %>
                    <%= f.button :submit, "Avaliar", class: "btn btn-xs btn-primary" %>
                  <% end %>
                <% end %>
              </td>
					</tr>
				</tbody>
			<% end %>
		</table>
		<%= link_to "Criar questão", rails_admin.new_path('question'), class: "btn btn-primary ico-plus" %>
    <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
	</div>
</div>