<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th>Ranking</th>
      <th>Image</th>
      <th>Teacher</th>
      <th>Discipline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.description %></td>
        <td><%= question.type %></td>
        <td><%= question.ranking %></td>
        <td><%= question.image %></td>
        <td><%= question.teacher %></td>
        <td><%= question.discipline %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
