<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.type_question %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @question.ranking %>
</p>

<p>
  <strong>Image:</strong>
  <%= @question.image %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @question.teacher.name %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @question.discipline.name %>
</p>

<%= link_to 'Editar', edit_question_path(@question), class: "btn" %> |
<%= link_to 'Voltar', questions_path, class: "btn" %>
