<p>
  <strong>Nome:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @discipline.description %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @discipline.teacher.name %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @discipline.course.name %>
</p>

<%= link_to 'Editar', edit_discipline_path(@discipline), class: "btn" %> |
<%= link_to 'Voltar', disciplines_path, class: "btn" %>
