<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discipline.description %>
</p>

<p>
  <strong>College:</strong>
  <%= @discipline.college %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @discipline.teacher %>
</p>

<p>
  <strong>Core:</strong>
  <%= @discipline.core %>
</p>

<p>
  <strong>Course:</strong>
  <%= @discipline.course %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
