<h1>Listando Núcleos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Curso</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @cores.each do |core| %>
      <tr>
        <td><%= core.name %></td>
        <td><%= core.course.name %></td>
        <td nowrap>
          <%= link_to "", core_path(core), :class => "glyphicon glyphicon-eye-open", title: "Visualizar"  %>
          <%= link_to "", edit_core_path(core), :class => "glyphicon glyphicon-edit", title: "Editar" %>
          <%= link_to "", core_path(core), title: "Deletar", :method => :delete, :confirm => "Tem certeza que deseja remover esse núcleo?", :class => "glyphicon glyphicon-trash" %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo núcleo', new_core_path, class: "btn btn-primary" %>
