<%= simple_form_for(@teacher, html: { role: "form"  }) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user %><br>
    <%= f.text_field :user, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :core %><br>
    <%= f.text_field :core, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
