<h1>Listando Professores</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email de usuário</th>
      <th>Curso</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.user ? teacher.user.email : "Ainda não existe um email cadastrado" %></td>
        <td><%= teacher.course ? teacher.course.name : "Ainda não pertence a nenhum curso" %></td>
        <td nowrap>

          <%= link_to "", rails_admin.show_path(model_name: 'teacher', id: teacher.id), :class => "glyphicon glyphicon-eye-open", title: "Visualizar"  %>
          <%= link_to "", rails_admin.edit_path(model_name: 'teacher', id: teacher.id), :class => "glyphicon glyphicon-edit", title: "Editar" %>
          <%= link_to "", teacher_path(teacher), title: "Deletar", :method => :delete, :confirm => "Tem certeza que deseja remover esse professor?", :class => "glyphicon glyphicon-trash" %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo professor', rails_admin.new_path('teacher'), class: "btn btn-primary ico-plus" %>
