<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher.user.name %>
</p>

<p>
  <strong>Núcleo:</strong>
  <%= @teacher.core.name %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @teacher.course.name %>
</p>

<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
<%= link_to 'Voltar', teachers_path %>
