<h1>Suas Provas</h1>
<div class="row">
  <div class="col-md-9 content" role="main">
  <table class="table table-style">
    <thead>
      <tr>
        <th>Name</th>
        <th>Disciplina</th>
        <th>Dificuldade</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @current_user_tests.each do |test| %>
        <tr>
          <td><%= test.name %></td>
          <td><%= test.user.name %></td>
          <td><%= test.level %></td>
          <td nowrap>
            <%= link_to '', test_path(test, format: "pdf"), :class => "glyphicon glyphicon-eye-open", title: "Visualizar" %>
            <%= link_to '', test, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-trash" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<%= link_to 'Criar nova prova', new_test_path, class: "btn btn-primary ico-plus" %>