<header class="header" role="banner">
  <div class="container">
    <span class="control-menu hidden visible-xs ico-menu-2"></span>
    <span class="control-sidebar hidden visible-xs ico-list"></span>
    <h1 class="project-name"><%= link_to "Minha Prova", root_path %></h1>
    <a href="#" class="help-sugestions ico-question hidden-xs">Ajuda e Sugestões</a>

    <div class="dropdown hidden-xs">
      <% if user_signed_in? %>
      <a href="#" data-toggle="dropdown" class="title-dropdown"><%= current_user.email %></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "#{current_user.email}", teacher_path(current_user.teacher), role: "menu-item" %></li>
        <li><%= link_to "Logout", destroy_user_session_path, role: "menu-item", :method => :delete  %></li>
      </ul>
      <% else %>
        <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>    
      <% end %>
    </div>
  </div>
</header>

  <div class="nav-content">
    <menu class="menu">
      <ul class="container">
        <li><a href="/" class="active ico-home" role="menuitem">Home</a></li>
        <li><%= link_to "Professores", teachers_path, role: "menu-item" %></li>
        <li><%= link_to "Questões", questions_path, role: "menu-item" %></li>
        <li><%= link_to "Universidades", colleges_path, role: "menu-item" %></li>
        <li><%= link_to "Cursos", courses_path, role: "menu-item" %></li>
        <li><%= link_to "Disciplinas", disciplines_path, role: "menu-item" %></li>
        <li><%= link_to "Provas", tests_path, role: "menu-item" %></li>
      </ul>
    </menu>
  </div>