<!DOCTYPE html>
<html>
<head>
  <title>MinhaProva</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %> 
  <%= yield %>
  <footer>
    <p class="pull-right"><a href="#">Voltar ao topo</a></p>
    <p>&copy; 2013 Renan Gurgel</p>
  </footer>
</div>

</body>
</html>
